{% macro publication(pub, scholar) %}
<b>Lastest:</b> <a target="_blank" href="{{pub.latest.link}}">{{pub.latest.title}}</a> ({{pub.latest.year}})
<br />
<b>Areas:</b> {{pub.areas}}
<br />
<a target="_blank" href="{{scholar.url}}">Google scholar profile</a>
({{scholar.papers}} papers, {{scholar.citations}} citations, {{scholar.hindex}} h-index)
{% endmacro %}