{% from "contact.jinja" import contact with context %}
{% from "technical.jinja" import technical with context %}
{% from "publication.jinja" import publication with context %}
{% from "personal.jinja" import personal with context %}
{% macro sidebar(data) %}
<div class="vstack">
  <div class="side-section vstack">
    {% if data.profile -%}
    <div class="info">
      <div class="vgap"></div>
      <img src="{{data.profile}}" alt="profile pic" />
    </div>
    <hr />
    {% endif %}
    <h4>Contact</h4>
    <div class="info">
      {{ contact(data.contact.items()) }}
    </div>
    <hr />
    <h4>Career Summary</h4>
    <div class="info">
      {{data.summary}}
    </div>
    <hr />
    <h4>Technical Exposure</h4>
    <div class="info">
      {{ technical(data.technical.items()) }}
    </div>
    <hr />
    {% if data.publication and data.scholar -%}
    <h4>Publications</h4>
    <div class="info">
      {{ publication(data.publication, data.scholar) }}
    </div>
    <hr />
    {% endif %}
    {% if data.personal -%}
    <h4>Personal Details</h4>
    <div class="info">
      {{ personal(data.personal.items()) }}
    </div>
    <hr />
    {% endif %}
    <div class="info">
      {{data.declaration}}
    </div>
  </div>
</div>
{% endmacro %}