{%- macro education(edu) %}
<div class="vstack">
  <div class="hstack apart">
    <div>
      <b class="company">{{edu.degree}}</b> from <b class="company">{{edu.university}}</b>
    </div>
    <div>{{edu.location}} </div>
  </div>
  <div class="hstack apart">
    <i>Major: {{edu.major}}: {{edu.marks}} </i>
    <i>{{edu.start}} - {{edu.end}}</i>
  </div>
  <div class="vgap"></div>
</div>
{%- endmacro %}